/*  version mobile  */

/* CONTAINER PRINCIPAL */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* CONTAINER INFO */
.contactInfo{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #596065;
padding: 150px 0;
}

/* TITRE H2 */
.contactInfo > h2{
    color: white;
    text-align: center;
    margin-bottom: 5%;
    font-size: 22px;
}

/* LIGNE */
.ligneContact {
    border-bottom: solid 1px white;
    width: 50%;
    margin-bottom: 3%;
}

/* PARAGRAPHE */
.contactInfo > p{
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    padding: 0 10%;
    margin-bottom: 50px;
}

/* BOUTON LIEN */
.contactInfo > a{
    background-color: #3dc1cd;
    color: white;
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 40px;
    margin-bottom: 3%;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    white-space: nowrap;
}
.contactInfo > a:hover{
    background-color: white;
    color: #3dc1cd;
    box-shadow: #3dc1cd 0px 0px 10px;
}


/* GOOGLE MAP */
.contactMap{
    width: 100%;
    display: flex;
    justify-content: center;
}